.sidebarThread {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.1);
    color: white;
    cursor: pointer;
}

.sidebarThread:hover {
    background-color: rgba(2, 150, 199);
}

.sidebarThread__details {
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.sidebarThread__timestamp {
    position: absolute;
    top: 5px;
    right: 0;
}

.sidebar__threads {
    overflow: scroll;
    flex: 1;
}

.sidebar__threads::-webkit-scrollbar {
    display: none;
}

.sidebar__bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-top: 1px solid rgba(190, 190, 190, 0.1);
}

.sidebar__bottom__avatar:hover {
    cursor: pointer;
    opacity: 0.5;
}

.sidebar__bottom > button {
    color: white;
}

.sidebar__bottom > button:hover {
    color: rgba(2, 150, 199);
}